## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     ------------------------- ------------ 41.0/61.0 kB 487.6 kB/s eta 0:00:01
     -------------------------------------- 61.0/61.0 kB 540.4 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\unaagy\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\unaagy\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 3.8 MB/s eta 0:00:03
    --------------------------------------- 0.2/11.5 MB 2.9 MB/s eta 0:00:04
   - -------------------------------------- 0.4/11.5 MB 2.9 MB/s eta 0:00:04
   -- ------------------------------------- 0.6/11.5 MB 3.3 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.5 MB 5.0 MB/s eta 0:00:03
   ------- -------------------------------- 2.0/11.5 MB 7.2 MB/s eta 0:00:02
   ------------ --------------------------- 3.5/11.5 MB 10.7 MB/s eta 0:00:01
   ------------------ --------------------- 5.4/11.5 MB 13.8 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.5 MB 19.2 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.5 MB 19.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.5 MB 32.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 31.1 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   ------ --------------------------------- 2.6/15.5 MB 55.6 MB/s eta 0:00:01
   ------- -------------------------------- 2.8/15.5 MB 60.1 MB/s eta 0:00:01
   ------------ --------------------------- 4.9/15.5 MB 34.7 MB/s eta 0:00:01
   -------------------------- ------------- 10.3/15.5 MB 54.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.2/15.5 MB 59.5 MB/s eta 0:00:01
   -------------------------------- ------- 12.7/15.5 MB 40.9 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 59.4 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 16.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 22.3 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [1]:
import pandas as pd

# загрузите датасет
df = pd.read_csv("vgsales.csv")  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head(-10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.00,0.01
16584,16587,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.00,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.00,0.01

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [3]:
# ваш код здесь
# df_all_uniq_games = df['Name'].value_counts()                          В этом примере можно посмотреть количество уникальных значений по length:

# df_all_uniq_games = pd.unique(pd.Series(pd.Categorical(df['Name'])))   В этом примере количество уникальных значений представлено в Objects:

df_all_uniq_games = df.Name.nunique(dropna=True)                       # В этом примере мы считаем количество уникальных значений и исключаем Nan значения
df_all_uniq_games

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [4]:
# ваш код здесь
df_sales_jpn = df["JP_Sales"].sum()
print(df_sales_jpn)

1291.0200000000002

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [5]:
# ваш код здесь
df_group_genre = df.groupby(['Genre']).sum(["NA_Sales"])
df_group_genre.head(10)
df_sorted = df_group_genre.sort_values(['NA_Sales'], ascending = False)[:3]
df_sorted

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,
Action,26441383,6531731.0,877.83,525.00,159.95,187.38,1751.18
Sports,17419112,4620621.0,683.35,376.85,135.37,134.97,1330.93
Shooter,9653872,2571588.0,582.60,313.27,38.28,102.69,1037.37

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [6]:
# ваш код здесь

# отбрасываем лишние колонки и создаем копию датасета
df_clean = df[['Name', 'Platform', 'Year']]
df_clean = df_clean.copy()

# сортируем датасет по году и платформе и считаем количество выпущенных игр на каждой платформе каждого года.
# Также выводим сумму игр в колонку с названием count, чтобы можно было к ней обратиться
df_platform_data = df_clean.groupby(['Year', 'Platform'])['Name'].count().reset_index(name = 'count')
df_platform_data.iloc[-50:]

# вводим перемнную для поиска
var_year = 2015

# находим нужную нам строку по переменной и выводим (одну) самую максимальную по значению выпущенных игр
df_top_platform = df_platform_data[df_platform_data['Year'] == var_year].nlargest(1, 'count')
print(df_top_platform)

       Year Platform  count
223  2015.0      PS4    137

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [9]:
# ваш код здесь

# оставляем в таблице только интервал 2012-2015 года
df_clean_year = df[df['Year'].between(2012, 2015)]
df_clean_year = df_clean_year.copy()
df_clean_year.head(20)

#группируем по издательству и считаем количество игр
df_group_publisher = df_clean_year.groupby(['Publisher'])['Name'].count().reset_index(name = 'count')
df_group_publisher.head(10)

# сортируем по количеству игр и выводим топ 1
df_top_publisher = df_group_publisher.sort_values(['count'], ascending = False)[:1]
df_top_publisher.head()

              Publisher  count
102  Namco Bandai Games    285

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [27]:
# ваш код здесь

# отбрасываем лишние колонки и создаем копию датасета
df_clean = df[['Rank', 'Genre', 'EU_Sales', 'Global_Sales']]
df_clean = df_clean.copy()

# сгруппируем по жанру и просуммируем продажи 
df_only_genre = df_clean.groupby(by=['Genre']).sum()

# посчитаем процент продаж игр в Европе от всех продаж для каждого жанра
df_only_genre['percent_sales'] = df_only_genre['EU_Sales']/df_only_genre['Global_Sales']*100

# выведим строку в жанре спорт
display(df_only_genre.loc[['Sports'], ['percent_sales']])

        percent_sales
Genre
Sports      28.314787